@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StudentName)
  @Html.TextBoxFor(model => model.StudentName)

  @Html.Label("Select category")
  @Html.DropDownList("CategoryId")

  @Html.textBox

  <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>